<div class="container">
  <h1>Edit classroom</h1>

  <% flash[:errors]&.each do |error| %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% end %>


  <%= form_with(model: @classroom, local: true) do |form| %>
    <p>
      <%= form.label 'Number' %><br>
      <%= form.text_field :number %>
    </p>

    <p>
      <%= form.label 'Teacher' %><br>
      <%= form.select :teacher_id, @selection, { include_blank: true }, :value => @classroom&.teacher&.name %>
    </p>

    <p>
      <%= form.submit 'Change' %>
    </p>
  <% end %>
</div>
