<div class="container">
  <h1>Add new student</h1>

  <% flash[:errors]&.each do |error| %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% end %>

  <%= form_with scope: :student, url: students_path, local: true do |form| %>
    <p>
      <%= form.label 'Name' %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label 'Surname' %><br>
      <%= form.text_field :surname %>
    </p>

    <p>
      <%= form.label 'Group' %><br>
      <%= form.text_field :group_name %>
    </p>

    <p>
      <%= form.submit 'Add' %>
    </p>
  <% end %>
</div>
