<div class="container">
  <h1>Add new group</h1>

  <% flash[:errors]&.each do |error| %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% end %>

  <%= form_with scope: :group, url: groups_path, local: true do |form| %>
    <p>
      <%= form.label 'Name' %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label 'Teacher' %><br>
      <%= form.select :teacher_id, @selection, { include_blank: true } %>
    </p>
    <p>
      <%= form.submit 'Add' %>
    </p>
  <% end %>
</div>
